<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Agora Sim do html</p>
    <hr>
    <p>Nome: <%=nome%></p>
    <p>Idade: <%=idade%></p>
    <p>Curso: <%=curso%></p>

</body>
</html>